:root{
    --whitebeige: #fffdf2ff;
    --blackblue: #0f1b3d;
    --darkblue: #2e557cff;
    --lightblue: #7292cbff;
    --olivegreen: #bda543ff;
    --pink: #f06896ff;
    --red: #ef6244ff;
    --purple: #bd7bcfff;
    --yellow: #f1b93fff;
}


/* FONT */
@font-face {
    font-family: "Montreal";
    src: url("fonts/neuemontreal/PPNeueMontreal-Book.otf") format("opentype");
}
@font-face {
    font-family: "Montreal Italic";
    src: url("fonts/neuemontreal/PPNeueMontreal-Italic.otf") format("opentype");
}
@font-face {
    font-family: "DM Mono";
    src: url("fonts/DM_Mono/DMMono-Regular.ttf") format("truetype");
}


/* HARD RESET */
* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: "Montreal", sans-serif;
    overflow: hidden;
}


/* HOME PAGE CONTENT */

.homepage{
    position: absolute;
    inset: 0;
    margin: auto;
    width: 60%;
    height: 60%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.item a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--darkblue);
}

.item a:hover{
    color: var(--pink);
}


/* BACKGROUND COLOR CLASSES */
.lightbackground{
    background-color: var(--whitebeige);
    color: var(--blackblue);
}

.darkbackground{
    background-color: var(--blackblue);
    color: var(--whitebeige);
}


/* VIDEO */
#myVideo {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease;
}
#myVideo.visible {
    opacity: 1;
}

/* LOADING SCREEN */
#loadingScreen {
    position: fixed;
    inset: 0;
    background-color: var(--blackblue);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: opacity 0.6s ease;
    gap: 1rem;
}

#loadingScreen.hidden { 
    opacity: 0; 
    pointer-events: none; 
} 

#loadingText { 
    font-family: "Montreal"; 
    font-size: 1.5rem; 
    color: var(--pink); 
}

#loadingPercent {
    font-family: "Montreal";
    font-size: 1.5rem;
    color: var(--pink);
}


/* INTRO TEXT */
#landing {
    position: fixed;
    inset: 0;
    z-index: 10;
    display: flex;
    align-items: center;

    justify-content: center; 
    padding: 0 8vw;
}

#landing.state-intro {
    justify-content: center;
}

#landing.state-open {
    justify-content: space-between;
    padding: 0 8vw;
}

#landing.state-open .begin-link {
    opacity: 0;
    transform: translateX(1rem);
    pointer-events: none;
}


.title-block {
    max-width: 420px;
    text-align: left;
    transform: translateX(0);
    transition: transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

#landing.state-open .title-block {
    transform: translateX(-50px);
}


.title-block h1 {
    font-family: "Montreal";
    font-size: 1.7rem;
    text-transform: lowercase;
    margin-bottom: 0.5rem;
}

.begin-link {
    background: none;
    border: none;
    font-family: "Montreal";
    font-size: 1.8rem;
    color: var(--whitebeige);
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    opacity: 1;
    transform: translateX(0);
}

.begin-link:hover {
    color: var(--pink);
}

.arrow { 
    display: inline-block; 
    transition: transform 0.3s ease; 
    position: relative; 
    top: 0.12em; 
}

.begin-link:hover .arrow {
    transform: translateX(0.25em);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    opacity: 0;
    transform: translateX(2rem);
    pointer-events: none;

    transition: opacity 0.6s ease 0.6s, transform 1.2s cubic-bezier(0.22, 1, 0.36, 1) 0.6s;
}

#landing.state-open .menu {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.menu a {
    font-family: "Montreal";
    font-size: 1.6rem;
    color: var(--whitebeige);
    text-decoration: none;


    padding: 0.55rem 1.1rem;  
    border-radius: 999px;
    width: fit-content;
    transition: background-color 0.25s ease, color 0.25s ease;

    display: inline-flex;        
    align-items: center;         
    justify-content: center;     


    /* line-height: 1; */
    margin: 0;
}

/* individual hover colors */
.menu a.cAbout:hover {
    background-color: var(--pink);
    color: var(--blackblue);
}

.menu a.cMap:hover {
    background-color: var(--olivegreen);
    color: var(--blackblue);
}

.menu a.cResearch:hover {
    background-color: var(--red);
    color: var(--blackblue);
}

.menu a.cNotes:hover {
    background-color: var(--yellow);
    color: var(--blackblue);
}





/* NOTEBOOK PAGE CONTENT */
.spark {
    font-size: 2rem;
    color: var(--yellow);
}

.notebookpage{
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80%;
    height: 80%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.notebookpage header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notebookpage main{
    display: flex;
    /* justify-content: space-between; */
    align-items: stretch;
    gap: 5rem;
}

.notebookpage .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    /* gap: 1.5rem; */
    width: 40%;
    font-family: "DM Mono";
    font-size: 1rem;
    color: var(--whitebeige);
    text-align: left;
}

.navigation{
    display: flex;
    justify-content: space-between;
    font-family: "Montreal";
    color: var(--pink);
    font-size: 2rem;
    font-weight: 400;
    width: 100%;
}

.navigation :hover{
    cursor: pointer;
    color: var(--yellow);

}

.notebookpage h1{
    font-family: "DM Mono";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.notebookpage p{
    color: var(--whitebeige);
    font-family: "DM Mono";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.notebookpage main img{
    height: 400px;
}